/build/
/research/
/.cache/
/.idea/
/.vscode/
/temp/
/private/
/local-docs/
/local-packaging/
/assets/ImageExamples/
/assets/brush/Tips/
/assets/brush/grains/
/rpm-test/
/WebTest/
/vulkana.app/
/vulkana-panel/
compile_commands.json
*.user
*.swp
*~
